{% load static %} {% load crispy_forms_tags %} 

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#"
        hx-get="{% url 'entry:showRecordsFromSession' %}"
        hx-target="#MDI"
        hx-push-url="{% url 'entry:showRecordsFromSession' %}"
        >show records</a></li>
      <li class="breadcrumb-item active" aria-current="page">Staff Availability</li>
    </ol>
  </nav>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">  
          <h3 class="title d-flex justify-content-between">
            {{record.school.name|truncatewords:'2'}}
            Staff Availability
            <div style="font-size:20px">
              {{record.date|date}}
            </div>
          </h3>
          <div class="row mt-5">
            <div class="col-md-12">
                      <!-- Table -->
                      <div class="table-responsive pt-3">
                      
                        <table class="table table-hover">
                          <thead>
                            <tr class="text-center">
                              <th>#</th>
                              <th>Post</th>
                              <th >Sactioned</th>
                              <th>Filled</th>
                              <th >Vacant/Surplus</th>
                            </tr>
                          </thead>
                          <tbody>
                            
                            {% for staff in record.staffs.all %}
                             <tr class="text-center">
                                <td>{{forloop.counter}}</td>
                                <td>{{staff.post}}</td>
                                <td >{{staff.sanctioned}}</td>
                                <td >{{staff.filled}}</td>
                                <td>{{staff.surplus}}</td>
                             </tr>
                             {% endfor %}
                          </tbody>
                        </table>
                      </div>            
                      <!--- END -->
              </div>
            </div>
            <div class="col-12 text-right pr-0"
            hx-delete="{% url 'entry:staffDelete' record.pk %}"
            hx-confirm="Please confirm whether you want to delete the record. This action cannot be undone."
            hx-push-url="{% url 'entry:showRecordsFromSession' %}"
            hx-target="#MDI"
            >
                <button class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  