{% load static %} 
{% load project_Tags %}

{% include "utils/message.html" %}
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    {% if request.user.is_superuser %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">Users</li>
  </ol>
</nav>

<div class="row" hx-indicator="#preloader-indicator">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Users </h4>

        <!-- Search and Add Options -->
        <div class="row d-flex justify-content-between">
          <!-- search options-->
            <div class="col-sm-3 mb-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text py-1 btn btn-primary "   hx-vals="js:{'query': get_search_val()}"  hx-get="{% url 'accounts:userSearch' %}"   hx-target="#tableMDI"   id="btnGroupAddon2">
                   
                    <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 25 25" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                  </div>
                </div>
                <input type="search" class="form-control maxlen " name="search" id="search"  maxlength="40" placeholder="Search here" aria-label="Input group example" aria-describedby="btnGroupAddon2">
              
              </div>
            </div>

            <!-- add btn-->
            {% if request.user|hasPerm:'staff.add_teacher' %}
            <div class="col-sm-3 d-flex justify-content-end">
                <button type="button"  class="btn btn-outline-success btn-icon " hx-target="#MDI" hx-push-url="{% url 'accounts:signup' %}" hx-get="{% url 'accounts:signup' %}">
                    <img  src="{% static 'assets/svgicon/add.svg' %}" alt="" id="add-btn-icon">
                </button>
            </div>
            {% endif %}
        </div>
        <div>
        
        <div id="tableMDI">

          {% block table %}
            <!-- Table -->
            <div class="table-responsive pt-3">
            
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>SuperUser</th>
                    <th>School</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                        <td>{{forloop.counter}}</td>
                        
                        {% if not  user.image %}
                        <td class="font-weight-bold">
                          {% if forloop.counter|divisibleby:2 %}
                          <span class="avatar bg-success rounded-pill p-2">
                          {% else %}
                            
                              {% if forloop.counter|divisibleby:3 %}
                                <span class="avatar bg-warning rounded-pill p-2">
                                  {% else %}
                                  <span class="avatar bg-danger rounded-pill p-2">
                              {% endif %}
                          {% endif %}
                          {{user.email|slice:'2'|capfirst}}

                          </span>
                          {{user.email}}
                        </td>
                        {% else %}
                        <td class="font-weight-bold sorting_1">
                          <span>
                            <img src="{{user.image.url}}" alt="">
                          </span> {{user.email}}
                        </td>
                        {% endif %}
                          
                          <td>{{user.first_name}}</td>
                          <td>{{user.last_name}}</td>
                          <td>
                            {% if user.is_superuser %}Yes {% else %} No {% endif %}
                          </td>
                          <td>{{user.school}}</td>
                          <td>
                            
                          
                          <button type="button"  hx-target="#MDI"  class="btn btn-outline-primary btn-icon ">
                            <img src="{% static 'assets/svgicon/edit.svg' %}" alt="" class="edit">
                          </button>
                          <button type="button"  hx-target="#MDI"  class="btn btn-outline-danger btn-icon">
                            <img src="{% static 'assets/svgicon/trash.svg' %}" alt="" class="trash">
                          </button>
                          
                        </td>
                        </tr>
                        {% empty %}

                          <tr class="odd"><td valign="top" colspan="12" class="dataTables_empty text-center">
                            
                            {% if isSearch %}                                
                                 No matching records found
                                 {% else %}
                                 No Data yet
                            {% endif %}
                        
                        </td></tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>

            <!-- Pagination -->
            {% if not isSearch %}
              <div class="row d-flex justify-content-end mt-2">
                  <nav aria-label="Page navigation example">
                      <ul class="pagination mb-0 pagination-rounded">
                      
                      
                        {% if  page_obj.has_previous %}
                          <li class="page-item ">
                            <a class="page-link "  href="#"  hx-push-url="{% url 'accounts:userList' %}?page={{page_obj.previous_page_number }}" hx-get="{% url 'accounts:userList' %}?page={{page_obj.previous_page_number }}" hx-target="#MDI" hx-swap="innerHTML" tabindex="-1" aria-disabled="true">Previous</a>
                          </li>
                          {% else %}
                          <li class="page-item disabled">
                            <a class="page-link " href="#" tabindex="-1" aria-disabled="true">Previous</a>
                          </li>
                        {% endif %}
                        
                        
                        {% for page in page_obj.paginator %}


                          {% if page.number < 5 and  page_obj.number < 5 %}
                            
                            <li class="page-item   {% if page.number == page_obj.number %} active {% endif %} ">
                              <a class="page-link "  href="#"  hx-push-url="{% url 'accounts:userList' %}?page={{page.number}}" hx-get="{% url 'accounts:userList' %}?page={{page.number}}" hx-target="#MDI" hx-swap="innerHTML">{{page.number }}</a>
                            </li> 
                          {% endif %}
                          

                          {% if page.number >= 5 and page.number == page_obj.number %}
                            
                          <li class="page-item ">
                            <a class="page-link " href="#"  hx-push-url="{% url 'accounts:userList' %}?page=1" hx-get="{% url 'accounts:userList' %}?page={{1}}" hx-target="#MDI" hx-swap="innerHTML">1</a>
                          </li>

                            <li class="page-item disabled">
                              <a class="page-link " href="#">...</a>
                            </li>
                            
                            <li class="page-item ">
                              <a class="page-link " href="#"  hx-push-url="{% url 'accounts:userList' %}?page={{page.number}}" hx-get="{% url 'accounts:userList' %}?page={{page_obj.number|add:-1}}" hx-target="#MDI" hx-swap="innerHTML">{{page_obj.number|add:-1 }}</a>
                            </li>
                            
                            <li class="page-item {% if page.number == page_obj.number %} active {% endif %} ">
                              <a class="page-link " href="#"  hx-push-url="{% url 'accounts:userList' %}?page={{page.number}}" hx-get="{% url 'accounts:userList' %}?page={{page.number}}" hx-target="#MDI" hx-swap="innerHTML">{{page.number }}</a>
                            </li>
                            
                          {% if page_obj.number < page_obj.paginator.num_pages %}
                            <li class="page-item">
                              <a class="page-link " href="#"  hx-push-url="{% url 'accounts:userList' %}?page={{page.number}}" hx-get="{% url 'accounts:userList' %}?page={{page_obj.number|add:1}}" hx-target="#MDI" hx-swap="innerHTML">{{page_obj.number|add:1 }}</a>
                            </li>
                          {% endif %}
                            
                          
                          {% endif %}
                          
                          
                          {% if forloop.last and  page.number != page_obj.number and page_obj.number|add:1 < page_obj.paginator.num_pages %}
                            <li class="page-item disabled">
                              <a class="page-link" href="#">...</a>
                            </li>
                            
                              <li class="page-item">
                                <a class="page-link "  href="#" hx-push-url="{% url 'accounts:userList' %}?page={{page.number}}" hx-get="{% url 'accounts:userList' %}?page={{page.number}}" hx-target="#MDI" hx-swap="innerHTML">{{page.number }}</a>
                              </li>
                          {% endif %}
                          
                            
                        {% endfor %}
                          
                        
                        
                        {% if page_obj.has_next %}
                          <li class="page-item">
                            <a class="page-link "  href="#" hx-target="#MDI" hx-push-url="{% url 'accounts:userList' %}?page={{page_obj.next_page_number}}" hx-get="{% url 'accounts:userList' %}?page={{page_obj.next_page_number}}">Next</a>
                          </li>
                        {% else %}
                            <li class="page-item disabled">
                              <a class="page-link" href="#">Next</a>
                            </li>
                        {% endif %}
                      </ul>
                    </nav>
              </div>
            {% else %}
              {% include "accounts/partials/search_pagination.html" %}
            {% endif %}

            {% include "utils/list_icons.html" %}
            
          {% endblock table %}
     
        </div>
      
      </div>
    </div>
  </div>
</div>
</div>
<script>
  
  function get_search_val(){

    let search = document.getElementById('search').value;
    const data ={
      'search':search,
      }
    return data
  
  }



</script>