{% load static %} {% load crispy_forms_tags %} {% load i18n %} {% load crispy_forms_filters %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Change Password</title>
    <!-- core:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/core/core.css' %}" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- end plugin css for this page -->
    <!-- inject:css -->
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/feather-font/css/iconfont.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}"
    />
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/demo_2/style.css' %}" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
  </head>
  <body>
    <div class="main-wrapper">
      <div class="page-wrapper full-page">
        <div
          class="page-content d-flex align-items-center justify-content-center"
        >
          <div class="row w-100 mx-0 auth-page">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="row">
                    <div class="col-lg-8 mx-auto auth-form-wrapper px-4 py-5 ">
                      <h5 class="text-muted font-weight-normal mb-4">
                         {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
                      </h5>
                          
                        {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                        {% else %}
                        <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-primary" type="submit" name="action" value="{% trans 'change password' %}"/>
                        </form>
                        {% endif %}
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- core:js -->
    <script src="{% static 'assets/vendors/core/core.js' %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <!-- end plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'assets/vendors/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/template.js' %}"></script>
    <!-- endinject -->
    <!-- custom js for this page -->
    <!-- end custom js for this page -->
 
  </body>
</html>
