{% load static %} {% load crispy_forms_tags %} 
{% include "utils/message.html"%}

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        {% include 'utils/steps.html' %}

        <form action="" method="post" hx-target="#MDI" hx-swap="innerHTML" hx-indicator="#spinner" 
        {% if nextDisabled %} hx-post="{% url 'entry:ptcInformationAdd' %}"
        hx-push-url="{% url 'entry:ptcInformationAdd' %}"
        {% endif %}>
          {% csrf_token %}
          <div id="formMDI">
          {% block form %}
          <div class="form-group row">

            <div class="col-md-12 my-3">{{form.chairman|as_crispy_field}}</div>
          

            <div class="col-md-6 mb-3">
              <label for="{{form.date.id_for_label}}"
                >{{form.electionDate.label}}</label
              >
              <div class="input-group date datepicker">
                {{form.electionDate}}
                <span class="input-group-addon">
                  <i class="fa-solid fa-calendar-days"></i>
                </span>
              </div>
            </div>


          <div class="col-md-6 mb-3">
              <label for="{{form.date.id_for_label}}"
                >{{form.estiblishDate.label}}</label
              >
              <div class="input-group date datepicker">
                {{form.estiblishDate}}
                <span class="input-group-addon">
                  <i class="fa-solid fa-calendar-days"></i>
                </span>
              </div>
            </div>

            <div class="col-md-3">
              {{form.bank|as_crispy_field}}
            </div>
            <div class="col-md-3">{{form.areaCode|as_crispy_field}}</div>
            <div class="col-md-3">{{form.accountNo|as_crispy_field}}</div>
            <div class="col-md-3">{{form.lastYearAmount|as_crispy_field}}</div>
            <div class="col-md-3">{{form.consumed|as_crispy_field}}</div>
            <div class="col-md-3">{{form.prevRemainingBalance|as_crispy_field}}</div>
            <div class="col-md-3">{{form.currentYearAmount|as_crispy_field}}</div>
            <div class="col-md-3">{{form.crcAllocation|as_crispy_field}}</div>
            <div class="col-md-3">{{form.pittyRepair|as_crispy_field}}</div>
            <div class="col-md-3">{{form.totalExpenditure|as_crispy_field}}</div>
            <div class="col-md-3">{{form.balance|as_crispy_field}}</div>
           
          <!-- Important js -->
          {% include "utils/maxlen.html" %} {% include "utils/inputmask.html" %}
          {% include 'utils/dateWithMaxIsCurrent.html' %}
          <script src="{% static 'assets/js/select2.js' %}"></script>
          {% include 'utils/acceptOnlyNumbers.html' %}


          {% endblock form %}
          </div>
            <!--end-->
          </div>
          <div class="col-md-12 px-0">
            <div>
              <button
              class="btn btn-outline-primary mr-2"
            type="submit"
            >
              <span
                class="spinner-border spinner-border-sm spanner-indicator"
                id="spinner"
                role="status"
                aria-hidden="true"
              ></span>
              Submit
            </button>
             <!-- Fill Check Box -->
            {% if prevRecord %}
            <input type="checkbox" name="prevMonth" value="True"
            hx-get="{% url 'entry:ptcRecord_fill_from_prev' %}"
            hx-target="#formMDI"
            hx-trigger="change"
            hx-indicator="#preloader-indicator"
            >
            {% endif %}
            </div>
          </div>

          {% comment %} <div class="col-md-12 px-0 mt-4 text-center">
            <div>
              <!-- Prev Button -->
              <button
                class="btn btn-sm btn-outline-secondary btn-icon mr-2"
                hx-get="{% url 'entry:studentStrengthAdd' %}"
                hx-target="#MDI"
                hx-push-url="{% url 'entry:studentStrengthAdd' %}"
              >
                <i class="fa-regular fa-circle-left"></i>
              </button>

              <!-- Next Button -->
              <button
                class="btn btn-sm btn-outline-info btn-icon"
                hx-get="{% url 'entry:schoolStockAdd' %}"
                hx-target="#MDI"
                hx-push-url="{% url 'entry:schoolStockAdd' %}"
                {% if nextDisabled %}
                disabled
              {% endif %}
              >
                <i class="fa-regular fa-circle-right"></i>
              </button>
            </div>
          </div> {% endcomment %}
        </form>
      </div>
    </div>
  </div>
</div>





  